@import './base.css';

.gutter {
  background: #dac7c7;
  cursor: default;
  transition: background 0.2s ease;
}

.gutter:hover {
  background: #aa1515;
}

.gutter-horizontal:hover {
  cursor: col-resize;
}

.gutter-vertical:hover {
  cursor: row-resize;
}
