@import './base.css';

.gutter {
  position: relative;
  overflow: visible;
  z-index: 1;              /* so it sits above the panes */
  background: #ccc;
  cursor: col-resize;
}

.gutter:hover {
  background: #ff0000;
}

.gutter-horizontal:hover {
  cursor: col-resize;
}

.gutter-vertical:hover {
  cursor: row-resize;
}

/* invisibly expand its clickable region */
.gutter::before {
  content: "";
  position: absolute;
  top: 0;                  /* anchor to the very top */
  bottom: 0;               /* anchor to the very bottom */
  left: -8px;              /* 8px to the left */
  right: -8px;             /* 8px to the right */
  pointer-events: auto;    /* make sure it catches the mouse */
}
