:root {
  --vt-c-white: #e8e8e8;
  --vt-c-white-soft: #d3d3d3;
  --vt-c-white-mute: #a7a7a7;

  --vt-c-black: #111111;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #333333;

  --vt-c-divider-light-1: rgb(94, 94, 94);
  --vt-c-divider-light-2: rgba(60, 60, 60);
  --vt-c-divider-dark-1: rgb(143, 143, 143);
  --vt-c-divider-dark-2: rgb(110, 110, 110);

  --vt-c-text-light: var(--vt-c-black-mute);
  --vt-c-text-dark: var(--vt-c-white-mute);

  --vt-accent: rgb(8, 110, 205);
  --vt-armed-1: #fc8803;
  --vt-armed-2: #fcdb03;
  --vt-error-1: #fc2003;
  --vt-error-2: #fc03b1;
  --vt-complete-1: #a9fc03;
  --vt-complete-2: #03fc90;

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light);
  --color-text: var(--vt-c-text-light);

  --color-accent: var(--vt-accent);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark);
    --color-text: var(--vt-c-text-dark);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
