@import './base.css';


/* Annoying gutter cannot be in a scoped style block... */
/* 1) Base orientation */
.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

/* 2) Force explicit ordering */
.horizontal .graph {
  order: 0;
}

.horizontal .gutter {
  order: 1;
}

.horizontal .design {
  order: 2;
}

.vertical .design {
  order: 0;
}

.vertical .gutter {
  order: 1;
}

.vertical .graph {
  order: 2;
}

/* 3) Match cursor to orientation */
.gutter {
  background-color: var(--color-border);
}

.gutter:hover {
  background: var(--color-accent);
}

.horizontal .gutter {
  cursor: col-resize;
}

.vertical .gutter {
  cursor: row-resize;
}
